@charset "utf-8";
/* CSS Document */

/* reset code */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,sans-serif;font-size:12px;line-height:18px}
img,fieldset{border:0}
img{vertical-align:top}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;color:#000}
a:hover,a:active,a:focus{text-decoration:underline}
hr{display:none}
legend,.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
caption{visibility:hidden;overflow:hidden;width:1px;height:1px;font-size:0;line-height:0}
img,button{border:none}
button,a{cursor:pointer}
table{width:100%}
.eng_txt{font-family:Tahoma,Geneva,sans-serif}

/* layout */
#wrap{position:relative;width:900px;margin:0 auto}
#content{padding:40px}

.content_area{overflow:hidden}
.content_area li{float:left;height:370px}
.content_area li.l_box_type{width:520px}
.content_area li.s_box_type{width:300px}

.content_area.on li{float:right;margin-top:-740px}
.content_area.on li:first-child,.content_area.on li:first-child+li{margin-top:370px}
.content_area.on .last{float:left}